$primary-color: hsl(243, 87%, 12%);
$secondary-color: hsl(238, 22%, 44%);
$bright-blue-color: hsl(224, 93%, 58%);
$moderate-cyan-color: hsl(170, 45%, 43%);
$dark-white-color: hsl(240, 75%, 98%);
$light-gray-color: hsl(0, 0%, 75%);

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;

  .main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 3rem;
    margin: 1rem 0 1rem 0;
    padding: 2rem 3rem;
    .logo {
      background-image: url(./images/logo.svg);
      background-repeat: no-repeat;
      width: 12.8rem;
      background-position: center;
    }
    ul {
      display: flex;
      list-style-type: none;
      li {
        margin: 0 1rem 0 1rem;
      }
    }
  }

  .section-1,
  .section-2,
  .footer {
    flex-flow: row-reverse;
    align-items: center;
    padding: 4rem 3rem;
  }

  .section-1 {
    display: flex;
    .section-1__getting-started {
      display: flex;
      align-items: center;
      input.text-input {
        height: 3rem;
        width: 20vw;
      }
    }
  }

  .section-1__background-curve {
    width: 100%;
  }

  .section-2 {
    display: flex;
    background-color: $dark-white-color;

    .see-more {
      display: flex;
      align-items: center;
      color: $moderate-cyan-color;
      margin: 1rem 0;
      text-decoration: none;
      width: fit-content;
      border-bottom: 1px solid;
    }

    .see-more::after {
      background: url(./images/icon-arrow.svg) no-repeat;
      background-size: 1.1rem 1.1rem;
      display: flex;
      content: "";
      width: 1.1rem;
      height: 1.1rem;
      object-fit: contain;
      overflow: hidden;
      border-radius: 50%;
      margin-left: 0.2rem;
    }

    .quote {
      background-color: white;
      width: 28vw;
      padding: 2rem;
      margin: 2rem 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      p {
        margin-top: 0.5rem;
      }
      img:nth-child(1) {
        width: 1rem;
      }
      .quote__author {
        margin-top: 1rem;

        img {
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 50%;
          float: left;
          margin-right: 0.7rem;
        }
      }

      .quote__author-name {
        font-size: 0.8rem;
      }

      .quote__author-position {
        font-size: 0.5rem;
      }
    }
  }

  .section-3 {
    display: flex;
    align-items: last baseline;
    background-color: $secondary-color;
    color: white;
    padding: 4rem 3rem;

    .row {
      width: 50%;
      padding-right: 5rem;
    }

    .section-3__get-started-for-free {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-left: 5rem;
      input.text-input--full-width {
        height: 3rem;
        width: 80%;
        margin: 1rem;
        padding: 0.8rem 2.5rem;
      }
    }
  }

  img.sections__image-right {
    width: 40vw;
    margin: 0 3rem;
    height: fit-content;
  }

  .description {
    margin-top: 1rem;
  }

  .primary-btn {
    background-color: $bright-blue-color;
    color: white;
    text-decoration: none;
    margin: 1rem;
    padding: 0.8rem 2.5rem;
    max-width: 15rem;
    text-align: center;
    border-radius: 4px;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin: 2rem 0 2rem 0;
  }

  .text-bold {
    font-weight: 700;
  }

  .footer {
    background-color: $primary-color;
    color: rgb(255, 255, 255);
    .logo--white {
      background-image: url(./images/logo-white.svg);
      color: white;
      background-repeat: no-repeat;
      height: 4rem;
      margin: 2rem 0 0 0;
    }

    .attribution {
      font-size: 11px;
      text-align: center;
      a {
        color: hsl(227, 9%, 40%);
      }
    }
    .footer-content {
      display: flex;
      justify-content: space-between;
      width: 60vw;

      .footer__contacts {
        .phone-icon,
        .email-icon {
          display: flex;
          align-items: center;
        }
        .phone-icon::before {
          background: url(./images/icon-phone.svg) no-repeat top left;
          width: 1.2rem;
          height: 1.2rem;
          display: flex;
          content: "";
          float: left;
          margin: 0 1rem 0 0;
        }
        .email-icon::before {
          background: url(./images/icon-email.svg) no-repeat top left;
          width: 1.2rem;
          height: 1.2rem;
          display: flex;
          content: "";
          float: left;
          margin: 0 1rem 0 0;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        li {
          margin: 0 1.7rem 0 1.7rem;
        }
      }
      ul:first-of-type {
        padding: 0;
        li {
          margin: 1rem 0 0 0;
        }
      }
    }
  }

  .footer-author {
    background-color: $primary-color;
    position: relative;
    width: 100%;
    bottom: 0;
    color: white;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: white;
  }
}

@media screen and (max-width: 775px) {
  body {
    .main-menu {
      padding: 0rem 1rem;
      width: 100vw;
      .logo {
        width: 7rem;
        height: auto;
        background-size: contain;
      }
      ul {
        padding: 0;
        li {
          margin: 0 0.5rem 0 0.5rem;
        }
      }
    }

    .section-1,
    .section-2,
    .section-3,
    .footer {
      flex-direction: column;
      align-items: center;
      padding: 4rem 1rem;
    }

    .section-1 {
      .section-1__getting-started {
        flex-direction: column;
        input.text-input {
          height: 3rem;
          width: 91vw;
          margin-top: 2rem;
        }
      }
    }

    img.sections__image-right {
      width: 80vw;
      margin: 0;
    }

    .description {
      margin-top: 0.7rem;
      text-align: center;
    }

    .title {
      font-size: 1.7rem;
      text-align: center;
    }

    .section-2 {
      align-items: center;
      .title {
        font-size: 1.2rem;
        text-align: center;
        margin: 3rem 0;
      }

      .description {
        margin-top: 0.7rem;
        text-align: left;
      }

      .see-more {
        align-self: center;
      }

      .quote {
        width: 77vw;
        align-self: center;
      }
    }

    .section-3 {
      text-align: center;
      .title {
        font-size: 1.3rem;
      }
      .row {
        padding-right: 0;
        width: 100%;
      }

      .section-3__get-started-for-free {
        width: 100%;
        padding-left: 0;
        align-items: center;
      }

      .primary-btn {
        width: 80%;
      }
    }

    .footer {
      padding: 4rem 2rem;
      .logo--white {
        margin: 0;
      }
      .footer-content {
        flex-direction: column;
        ul {
          padding: 0;
          li {
            margin: 0.7rem 0;
          }
        }

        .footer__menu-1, .footer__menu-1  {
          margin: 3rem 0;
        }
      }
    }

    .primary-btn {
      margin: 0;
      margin-top: 1rem;
      max-width: none;
      width: 91vw;
    }
  }
}
